<!doctype.html>
<html>
		<head>
				{% if title %}
				<title>Explore Guelph - {{ title }}</title>
				{% else %}
				<title>Explore Guelph</title>
				{% endif %}
				<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		</head>
		<body>
				<div class=header><h1>Explore Guelph</h1></div>

				{% block body %}{% endblock %}

				<a href="http://openguelph.wpengine.com/open-data-guelph/city-of-guelph-open-government-licence/"><div class=footer>All information on this site is made available through the City of Guelph Open Government License</div></a>
		</body>
</html>
